.topic {
  text-align: center;
}

.the-card {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  height: 75%;
  top: 80px;
}

#auth {
  color: green;
}

body {
  background-image: url(Bilder/palm.png);
  background-repeat: round;
}

#feedback {
  float: right;
}
#feedback1 {
  float: right;
  color: grey;
  font-size: 14px;
}
