.tabelle {
  width: 100%;
  text-align: center;
}

.pending {
  .mat-cell {
    color: darkorange;
  }
}

.approved {
  .mat-cell {
    color: green;
  }
}

.declined {
  .mat-cell {
    color: red;
  }
}

.infotext {
  margin-left: 1350px;
  margin-right: 50px;
  font-size: 12px;
  border-left: 5px solid red;
  border-right: 5px solid red;
  border-bottom: 1px solid red;


}

