table {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  left: 200px;
  right: 200px;
}


#csv-button
{
 /* border-style: solid;
  border-color: #000000;
  margin: 120px;
  top: 20%;*/
  border-left-width:   5px;
  background-color: #d8d8d8;
  border-left-style:   solid;
  border-color: #0f3eff;
  margin: 125px;
}
