@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

#fab-calendar
{
  float: right;
  padding-right: 30px;
  size: 30px;
}
.md-fab-bottom-right {

  size: 40px;
  width: 80px;
  height: 80px;
}
